footer {
    min-height: 10vh;
    display: grid;
    justify-items: start;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 100px;
    }

main {
    margin-bottom: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 50px;
    
}

header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 100px;
    align-items: center;

}
header img {
    justify-self: left;

}

header nav {
    justify-self: right;
}

#container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))r;
    grid-column-gap: 40px;
    background-color: blanchedalmond;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 10px;
    border-style: outset;
    border-color: black;        
}


#container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 40px;
    background-color: burlywood;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 20px;
    border-style: groove;
    border-color: black;
}


#container3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: sandybrown;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 50px;
    border-width: 50px;
    border-style: double ;
    border-color: black;
}

    
span {
    margin-right: 20px;
}